@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

.heading {
    font-family: 'bangers', sans-serif;
    font-size: 50px;
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
}

.videos {
    width: 300px;
    position: absolute;
    left: 1300px;
    top: 200px;
    box-shadow: 1px 1px 3px black;
    border-radius: 15px;
    cursor: pointer;
}

.videos:active {
    box-shadow: none;
}

.thoughts {
    position: absolute;
    left: 1420px;
    top: 170px;
}

.pics {
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
}

.pics:active {
    box-shadow: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letters {
    font-family: 'bangers', sans-serif;
    font-size: 60px;
    color: rgb(234, 0, 255);
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
    width: 400px;
}

.letters:hover {
    background-color: chartreuse;
    cursor: pointer;
}

.words {
    font-family: 'bangers', sans-serif;
    font-size: 60px;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
    width: 400px;
}

.words:hover {
    background-color: chartreuse;
    cursor: pointer;
}

.spelling {
    font-family: 'bangers', sans-serif;
    font-size: 60px;
    color: rgb(0, 140, 255);
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
    width: 400px;
}

.spelling:hover {
    background-color: chartreuse;
    cursor: pointer;
}

.alphabet-input {
    width: 70px;
    height: 70px;
    font-size:70px;
    font-family: 'bangers', sans-serif;
    color:fuchsia;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

span {
    color: fuchsia;
    letter-spacing: -2px;
}

.misslet-input {
    width: 45px;
    height: 55px;
    font-size:70px;
    font-family: 'bangers', sans-serif;
    color:fuchsia;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
    border-bottom: 1px solid fuchsia;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: -10px;
}

.sentences-container {
    width: 740px;
    height: 100px;
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.sentence {
    font-family: 'bangers', sans-serif;
    font-size: 70px;
    color: rgb(0, 140, 255);
    text-shadow: 1px 1px 2px black;
    margin: 20px 0px 0px 20px;
    width: 900px;
    letter-spacing: 5px;
    margin-right: 15px;
}

.checks {
    width: 70px;
    margin-bottom: 10px;
    visibility: hidden;
}

